@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Hanken+Grotesk:wght@500;700;800&family=Playfair+Display:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

body {
    background: #4054b5;
}

.qoute-box {
    width: 700px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.15);
}

.qoute-box h2 {
    font-size: 32px;
    margin-bottom: 40px;
    position: relative;
}

.qoute-box h2::after {
    content: '';
    width: 75px;
    height: 3px;
    border-radius: 3px;
    background: #177ce5;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
}

.qoute-box blockquote {
    font-size: 26px;
    min-height: 110px;
}

.qoute-box blockquote::before, .qoute-box blockquote::after {
    content: '"';
}

.qoute-box span {
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;
}

.qoute-box span::before {
    content: '';
    width: 20px;
    height: 2px;
    background: #177ce5;
    position: absolute;
    top: 50%;
    left: -30px;
}

.qoute-box div {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.qoute-box button{
    background: #177ce5;
    color: #fff;
    border: 1px solid #177ce5;
    border-radius: 25px;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
}

.qoute-box button img{
    width: 20px;
    margin-right: 10px;
}

.qoute-box button:nth-child(2){
    background: transparent;
    color: #333;
}